<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid"></div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Similar People</h3>
        </div>

        <div class="col-md-4">
          <select class="form-control form-control-alternative" id="client" #client
            (change)="selectClient(client.value)" required>
            <option value="">--Select client--</option>
            <option *ngFor="let client of clients" [value]="client.user_id">
              {{ client.name }}</option>
          </select>
        </div>

        <hr class="my-4" />

        <div class="table-responsive" *ngIf="ready">
          <table id="datatable" class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th class="text-center">User ID</th>
                <th class="text-center">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-align-center-center" *ngFor="let sale of sales">
                <td class="text-center">{{ sale.user_id }}</td>
                <td class="text-center">{{ sale.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
