<div class="header pb-0 pt-5 pt-lg-8  align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover3.png); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col col-md-10">
        <h1 class="display-2 text-white">Buy</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <h1>jk</h1>
        </div>
      </div>
    </div>
  </div>
</div>