<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Stores</h3>
        </div>
  
        <div class="table-responsive">
          <table id="datatable" class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th class="text-center">ID Store</th>
                <th class="text-center">Local name</th>
                <th class="text-center">Phone number</th>
                <th class="text-center">Schedule</th>
                <th class="text-center">Website</th>
                <th class="text-center">Latitude</th>
                <th class="text-center">Longitude</th>
              </tr>
            </thead>
            <tbody *ngIf="isDataReady">
              <tr class="text-align-center-center" *ngFor="let supermarket of supermarkets">
                <td class="text-center">{{ supermarket.id_store}}</td>
                <td class="text-center">{{ supermarket.name}}</td>
                <td class="text-center">{{ supermarket.phone}}</td>
                <td class="text-center">{{ supermarket.schedule}}</td>
                <td class="text-center">{{ supermarket.website}}</td>
                <td class="text-center">{{ supermarket.lat}}</td>
                <td class="text-center">{{ supermarket.long}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>